@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');


/* BACKGROUND */


body {
	background: url('https://i.ibb.co/XxQbrRW6/941898-ezgif-com-resize.jpg') center center fixed !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	font-family: 'Inter';
	color: #000
}


/* MAIN PANEL */


/* RIGHT SIDE */
.container.main {
	background: linear-gradient(rgba(65, 124, 242,1), rgba(154, 195, 241,0.65) 25%);
	border: none;
	box-shadow: none;
	border-radius: 3px
}


/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}


/* TOPBAR ("Welcome back, ___") */


.topbar {
	background: #435915;
	border: none;
	border-top: none;
	color: #89b321;
	border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
}


/* NAVBAR (Den/Crossroads/Etc.) */


.navbar {
	background: #435915;
	border: solid 2px #000;
	color: #000000;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	border-radius: 3px;
}


/* NAVBAR BUTTON TEXT COLOR */


.navbar li a {
	color: #89b321 !important;
        transition: 0.3s;
}


/* NAVBAR BUTTON HOVER */


.navbar li a:hover {
	background: transparent !important;
	border-bottom: none;
	color: #89b321 !important;
	border-radius: 0px;
    text-shadow: 0px 0px 10px #ace02b;
    transform: scale(1.1);
    transition: 0.3s;
}


/* BREADCRUMB (Home / Den) */


.breadcrumb {
	background: #435915 !important;
        border: solid 2px #000;
	border-radius: 3px;
}


/* BREADCRUMB TEXT */


.breadcrumb .active {
	color: #89b321
}


@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }


    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }


/* BOOKMARK BUTTON */


input.floatright, input.floatright:hover {
	background: linear-gradient(#435915, #89b321) !important;
        border: solid 1px #000 !important;
	border-radius: 3px !important;
	color: #000000 !important;    
}


/* SWITCH ACCOUNT BUTTON */


button.button, button.button:hover {
	background: linear-gradient(#435915, #89b321) !important;
        border: solid 1px #000 !important;
	border-radius: 3px;
        text-shadow: none !important;
	color: #000000 !important
}


/* ALERTS (ie. "Your lionesses have returned from hunting!") */


.alert,
.alert-warning,
.alert-danger {
	background: #890f21 !important;
	border: solid 2px #000;
	color: #fff;
	border-radius: 3px !important;
}


/* BIGGEST HEADER ("___"'s DEN) */


h1 {
	background: linear-gradient(#435915, #89b321, #9ac3f1);
	background-clip: text;
	color: transparent;
	font-size: 60px;
	text-align: center;
    text-transform: uppercase;
        font-family: 'Inter'
}


/* MEDIUM HEADER */


h2 {
	color: #000;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */


h3 {
	color: #000 !important;
	font-size: 14px !important
}


/* RIGHT SIDE PANEL HEADER */


.sidebar h3 {
	color: #000 !important;
    text-transform: uppercase;
        font-size: 23px !important;
        font-family: 'Inter';
    transition: 0.5s;
}

.sidebar h3:hover {
    text-shadow: 0px 0px 5px #ace02b;
}


/* RIGHT SIDE PANELS */
.panel {
	background: #435915 !important;
	box-shadow: inset 0px 70px 100px #2e3d0e !important;
	border: solid 2px #000 !important;
	color: #89b321 !important;
	border-radius: 3px
}


/* ENERGY BAR BACKGROUND */
.progress {
	background: #9ac3f1;
	color: #000000 !important;
	border-radius: 3px !important;
    box-shadow: 1px 1px 5px #14191C;
}


/* ENERGY BAR COLOR */
.progress-bar {
	background: #417cf2;
	color: #000000 !important;
	border-radius: 3px !important
}


/* ENERGY BAR TEXT */
.progress div {
	color: #000 !important;
}


/* CHAT */


.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: #2e3d0e !important;
        color: #89b321 !important;
	border: none !important
}


.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: #435915 !important;
        color: #89b321 !important;
	border: none !important
}


.s-chat-message__pinned /* Pinned Message */ {
	background: #417cf2 url(//static.lioden.com/images/layout/sticky.png) no-repeat 10px 6px;
    border-bottom-color: #000 !important;
        color: #000 !important;
	border: none !important
}


.s-chat-message_timestamp /* Timestamps */ {
	color: #9ac3f1 !important;
}


div#chatMessageContainer {
    border: 2px #000 solid;

}


button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #435915 !important;
        color: #000 !important;
	border: none !important
}


/* BG of Chatbox */
html.nolayout body {
background: none !important
}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */




/* PANEL BACKGROUND COLOR */


.table {
	background: rgba(67, 89, 21, 0.3);
	border: solid 2px #000 !important;
	border-collapse: separate;
	border-radius: 3px
}




/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */


.top,
.bottom,
th {
	background: #435915 !important;
	color: #000 !important;
	border-radius: 0px
}


td.bottom a {
        text-decoration: underline !important
}


/* Color behind "Level, Stats, Branch, Territory" etc. */


.inner-table .left {
	background: #435915 !important;
        color: #89b321;
	border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}




/* Color behind the number of all of the things above */


.inner-table .right {
	background: rgba(67, 89, 21, 0.5);
	border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important
}


td.right {
	border-radius: 0px !important
}


/* IGNORE */
.right_odd {
	background: none !important
}


/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */


.cave-grid,
.mound-grid {
	background: #435915;
	border: solid 2px #000 !important;
	border-radius: 3px !important
}


/* FEED ALL, PLAY ALL */


.feature {
	background: #435915 !important;
	color: #89b321 !important;
	border: solid 2px #000 !important;
	border-radius: 3px !important;
}


/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */


.feature,
div.left {
	background: #435915;
	border: solid 2px #000 !important;
	border-radius: 3px !important;
}


/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */


.table .left {
	background: #435915;
        border-radius: 0px
}


/* Color behind the content of the elements listed above */


input,
select,
textarea {
	background: rgba(46, 61, 14,1) !important;
	border: none !important;
	border-radius: 3px !important;
	color: #ace02b !important;
	box-shadow: none !important;
	text-shadow: none !important
}


/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */


.item-header {
	background: #14191C !important;
	color: #EAB6A8  !important;
	border-radius: 3px !important;
}


.item {
	background: rgba(20,25,28,0.74) !important;
	border: none !important;
	border-radius: 3px !important
}


/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */


div.slider.round /* Background */ {
	background: #4B3D3D !important
}


div.slider.round::before /* Circle Part */ {
	background: #92625E !important
}


/* Copyright, Terms of Service, CoC, etc. */


div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #14191C !important;
        text-shadow: none !important
}


/* LINK COLOR */


a:link,
a:visited {
	color: #ace02b !important;
    transition: 0.5s;
}


/* LINK HOVER COLOR */


a:hover {
	color: #fcba03 !important
}




/* BOX CONTAINER */


.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}


.boxcontainer hr {
    margin: 0px;
    border-top: solid 2px #815d58;
    width: 70%;
}


.boxcontainer h1 {
    font-size: 35px;
    margin: 0px;
}


.boxcontainer h2 {
    margin: 0px;
}


.boxcontainer h3 {
    font-size: 20px !important;
    margin: 0px;
}


/* BOXES */

.smallbox {
	float: left;
	background: linear-gradient(#14191C, #4c3331 130%);
	color: #EAB6A8;
	padding: 10px;
	border: solid 2px #92625E;
	border-radius: 3px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto;
    scrollbar-color: #92625E #14191C;
}


.mediumbox {
	float: left;
	background: linear-gradient(#14191C, #4c3331 130%);
	color: #EAB6A8;
	padding: 10px;
	border: solid 2px #92625E;
	border-radius: 3px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto;
    scrollbar-color: #92625E #14191C;
}

.largebox {
	float: left;
	background: linear-gradient(#14191C, #4c3331 130%);
	color: #EAB6A8;
	padding: 10px;
	border: solid 2px #92625E;
	border-radius: 3px;
	margin: 10px;
	height: 215px;
	width: 90%;
	overflow: auto;
    scrollbar-color: #92625E #14191C;
}

.boxtopper {
    transform: scale(0.7);
    float: right;
    position: absolute;
    z-index: 999;
    right: 30px;
    pointer-events: none;
}

/* CUSTOM LAYOUTS (CODE MADE BY #139 ON LIODEN) */
    .pun-credit {
        position: fixed;
        bottom: 0px;
        right: 0px;
        color: #f6e4dc !important;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        background: rgba(67, 89, 21, 0.3);
        padding: 5px;
    }
    .pun-credit a {
        color: #f6e4dc !important;
    }
    .pun-credit a:hover {
        opacity: 1 !important;
    }
    .pun-credit:hover {
        opacity: 1;
        transition: 2s;
    }
    .pun-table {
        width: 640px;
        background: url('https://i.ibb.co/XxQbrRW6/941898-ezgif-com-resize.jpg');
    }
    .pun-spacer {
        background: none;
        width: 320px;
    }
    .pun-content {
        background: none !important;
        color: black;
        text-align: justify;
        height: 400px;
        overflow: auto;
        width: 100;
        padding: 20px;
        border-radius: 0px;
        font-size: 12px;
    }
    .pun-content a {
        color: #000 !important;
        font-weight: normal !important;
        opacity: 0.5;
    }
    .pun-content a:hover {
        opacity: 1 !important;
    }
    .pun-links {
        background: rgba(67, 89, 21, 1) !important;
        color: #000;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 1px;
    }
    .pun-links a {
        color: #ace02b !important;
    }


/* SCROLL BAR */


/* WIDTH */


::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */


::-webkit-scrollbar-track {
	background: #14191C
}




/* "THUMB" */


::-webkit-scrollbar-thumb {
	background: #4B3D3D;
	border-radius: 3px
}




/* LION AND USER AVATAR OPACITY */


div#lion_image {
	opacity: 0.9
}

div#lion_image::after {
    position: absolute;
    transform: scale(0.6);
    left: -10px;
    top: -5px;
}


table#player img {
	opacity: 0.9;
    
}




/* CIRCULAR LION AND USER AVATAR */


div#lion_image {
	border-radius: 3px !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px; /* May need adjusting */
    box-shadow: 0px 0px 5px #2e3d0e;
    transition: 0.5s;
}

div#lion_image:hover {
    opacity: 1;
    box-shadow: 0px 0px 8px #ace02b;
}


table#player img {
	border-radius: 3px !important;
	overflow: hidden;
    
}




/* LIODEN LOGO REPLACER */


div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.ibb.co/mCw82W26/windowslogo-psd-ezgif-com-crop.png');
    transition: 0.5s;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img:hover {
    transform: scale(1.05);
}

/* CAVE / MOUND IMAGES */



.cave-grid {
    opacity: 0.8;
    transition: 0.2s;
    padding: 5px;
    transition: 0.5s;

}



.cave-grid:hover,
.mound-grid:hover {
    transition: 0.5s;
    opacity: 1;
    box-shadow: 0px 0px 7px #ace02b;
}

.mound-grid {
    transition: 0.5s;
}



/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
content: url('https://i.ibb.co/tTCG2wW6/level63-Clouds-ezgif-com-resize.jpg')!important;
}

/*Nesting*/
img[src$="nestingbanner.png"] {
content: url('https://i.ibb.co/tTCG2wW6/level63-Clouds-ezgif-com-resize.jpg')!important;
}

/*Overview*/
img[src$="overviewbanner.png"] {
content: url('https://i.ibb.co/tTCG2wW6/level63-Clouds-ezgif-com-resize.jpg')!important;
}

img[src$="//static.lioden.com/images/layout/cavedefault.jpg"] {
    content: url('https://i.ibb.co/tTCG2wW6/level63-Clouds-ezgif-com-resize.jpg') !important
}

img[src$="caveunused.jpg"] {
content: url("https://i.ibb.co/Q3TM7pkY/level63-Clouds-ezgif-com-resize-grayscale.jpg") !important;
}

img[src$="beetlemound.png"] {
content: url("https://i.ibb.co/1JdnVhkf/1-BR4-TGg-NWAikzde6apb5d-Bg-ezgif-com-resize.jpg") !important;
}

img[src$="addbeetlemound.png"] {
content: url("https://i.ibb.co/Y4t3Cwv4/1-BR4-TGg-NWAikzde6apb5d-Bg-ezgif-com-resize-greyscale.jpg") !important;
}


/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */


@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}


@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}

    
/* FONT SIZE EDIT ON PLAYER BOX */
div.center.h3 {
    font-size:20px;
}
 
td.top, small {
    font-size:14px;
}

/*Comment Box*/
#commentBox {
background: linear-gradient(#2e3d0e, #435915 80%);
border: 2px solid #000 !important;
border-radius: 3px;
}

div.comment {background: #2e3d0e !important;
border-bottom: 1px solid #000;
color: #fff;
}

div#makeComment {background: #435915 !important;
border: 2px #000 solid;
    border-radius: 3px;
}

input#comment {background: rgba(255, 255, 255, 0.5) !important;
color: #000 !important;
    border-radius: 3px;
}

small.text-muted {color: #89b321;}
small.text-muted a {color: #89b321;}

input[type="button"].bad {background: #890f21 !important;}

/*Scrollbars*/
#commentBox::-webkit-scrollbar {
width: 7px;
height: 7px;
}

#commentBox::-webkit-scrollbar-track {
background: black;}

#commentBox::-webkit-scrollbar-thumb {
background: #2c1a5d;
border: 1px solid #78699f;}

/* MAKE DYNASTY/ACHIEVEMENT/ETC. ONE ROW */
div.col-md-3.col-sm-6.col-xs-6.mb-2.dynastylist {
width: 20%;}

h1 small {
  font-weight: 400;
  line-height: 1;
  color: #000;
}

/*Bugbox Button*/
a.button{
    border: 1px solid #000;
    background: linear-gradient(#435915, #89b321) !important;
    text-shadow: none
}

/*Bugbox Button Hover*/
a.button:hover{
    text-shadow: none
}
}
